# Data files (excluded from GitHub)
data/

# Local virtual environment
.venv/

# Python cache
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# Data engineering / experiment tracking
mlruns/
.dvc/
.dvc/cache/
.kedro/
.DS_Store
